{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
		<br>
		<h2>FAQ</h2>
		<br>
		<p>Привет! Я chuunya7, создатель этого сайта.</p>
		<br>
		<p>Я создала его с помощью Python/Flask и Spotify API для Python в качестве итогового школьного проекта и проекта для Яндекс Лицея. Репозиторий проекта на GitHub можете посмотреть <a href="#" target="_blank">здесь</a>.</p>
		<br>
		<p>Йо!</p>
		<br>
		<br>
		<br>
		<p style="font-size:17px">Создано с ❤</p>
	</div>
</div>
{% endblock %}